---
import TitleSectionCard from "./TitleSectionCard.astro";
import FaqAccordion from "../../components/shared/faq-accordion.astro";
import Section from "../../components/shared/section.astro";
import SectionTitle from "../../components/shared/section-title.astro";
import SectionSubtitle from "../../components/shared/section-subtitle.astro";

const faqs = [
  {
    section: "General",
    items: [
      {
        q: "What is Openlane?",
        a: "Openlane is affordable, transparent, developer-friendly compliance automation. We make compliance simple so you can actually ship code.",
      },
      {
        q: "Who is Openlane for?",
        a: "Openlane is optimized for growing teams. Our modular system and pricing are ideal for founders and developers in early-stage companies who don’t want to close deals and enter new markets -who need SOC 2 (or NIST, ISO27001, and more) without the tears.",
      },
      {
        q: "How is Openlane different?",
        a: "We’re open-source with transparent pricing. No black boxes, no vendor lock-in, no surprise upcharges. Just compliance that plays nice.",
      },
    ],
  },
  {
    section: "Features",
    items: [
      {
        q: "Which frameworks do you support?",
        a: "We're starting with SOC 2, ISO 27001, HIPAA, and NIST 800-53, the greatest door-openers and deal-closers for growing companies. Don't see what you are looking for? We also support custom frameworks and can onboard new frameworks to our platform in days - instead of months.",
      },
      {
        q: "Does it connect to my tools?",
        a: "Yes. We can connect to GitHub, Slack, and more. If your developers live in it, we probably plug into it - and if webhooks and API keys don't get you there, we can build together in the open.",
      },
      {
        q: "Can I customize?",
        a: "Absolutely. Think of our templates like IKEA furniture - you can follow the instructions or hack it into something cooler.",
      },
      {
        q: "What is continuous compliance?",
        a: "Instead of panicking once a year, you’re audit-ready every day. Like brushing your teeth, but for security.",
      },
      {
        q: "Do I have to do continuous compliance to use Openlane?",
        a: "Of course not! Openlane is configurable to your level of automation and comfort. The truth is, some evidence is just easier to pull manually and drop into a portal -you're not stuck in a rigid environment with us.",
      },
    ],
  },
  {
    section: "Security & Data",
    items: [
      {
        q: "Is my data secure?",
        a: "Yes. Encrypted, isolated, and guarded like your own dragon hoard.",
      },
      {
        q: "What if I leave?",
        a: "We won’t make it awkward. Download your data and any evidence from our system and go along on your journey.",
      },
    ],
  },
  {
    section: "Pricing & Access",
    items: [
      {
        q: "Is it really open-source?",
        a: "Yep. Fork it, run it, star it. Pay us to make your lives easier and get access to licensed frameworks.",
      },
      {
        q: "Do I need a credit card to start?",
        a: "Nope. We’re not that clingy. Use our 30-day free trial to confirm we're a good fit, and stick with us for the long haul.",
      },
      {
        q: "How fast can I onboard?",
        a: "Hours. If it takes longer, ping us —we’ll race you.",
      },
    ],
  },
  {
    section: "Audits",
    items: [
      {
        q: "Will it help me pass SOC 2?",
        a: "Yes. We automate the evidence so you can spend less time sweating and more time drilling into and solving your customers pain points.",
      },
      {
        q: "Can I share with my auditor?",
        a: "Absolutely -and they would prefer it! Export it, send them a link, or let them poke around directly —you have granular control over what they see.",
      },
    ],
  },
  {
    section: "Support",
    items: [
      {
        q: "Do you offer support?",
        a: "Yep. Access free help from our community on discord, or contact us to talk about a paid plan if you want us on speed dial.",
      },
      {
        q: "Is there a community?",
        a: "Yes, and they’re as tired of compliance theater as you are. Come join the movement!",
      },
    ],
  },
];

const cards = [
  {
    title: "Documentation",
    text: "Feeling adventurous? Check out our Docs for answers.",
    imageSrc: "/assets/support/support_documentation.png",
    href: "https://docs.theopenlane.io/",
    linkText: "Read docs",
  },
  {
    title: "GitHub",
    text: "Open issue on GitHub (publicly trackable)",
    imageSrc: "/assets/support/support_github.png",
    href: "https://github.com/theopenlane",
    linkText: "Open issue on GH",
  },
  {
    title: "Community",
    text: "We have channel for open discussion at Discord.",
    imageSrc: "/assets/support/support_community.png",
    href: "https://discord.com/invite/4fq2sxDk7D",
    linkText: "Join the conversation",
  },
  {
    title: "Open a ticket",
    text: "Send your questions, suggestions, or anything",
    imageSrc: "/assets/support/support_open_a_ticket.png",
    href: "https://support.devrev.ai/openlane/directories",
    linkText: "Support Portal",
  },
];
---

<section
  class="relative pt-10 pb-5 text-center
         mx-4 sm:mx-auto max-w-full sm:max-w-xl md:max-w-4xl lg:max-w-6xl"
>
  <img
    src="/assets/green-dots.svg"
    alt=""
    class="absolute bottom-0 left-0 w-full h-auto object-cover object-bottom z-0 pointer-events-none"
  />
  <div class="mx-auto max-w-150">
    <SectionTitle>We're here for you</SectionTitle>
    <div class="mt-6 flex justify-center gap-4">
      <SectionSubtitle>
        No firewalls between you and support here. Just real <br /> humans ready to
        help, fast.</SectionSubtitle
      >
    </div>
  </div>
</section>
<Section />
<Section>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 justify-center"
  >
    {
      cards.map((card) => (
        <TitleSectionCard
          imageSrc={card.imageSrc}
          title={card.title}
          text={card.text}
          linkText={card.linkText}
          href={card.href}
        />
      ))
    }
  </div>
</Section>
<Section showHeroDots>
  <div class="mx-auto max-w-167">
    <SectionTitle>Frequently Asked Questions</SectionTitle>
  </div>
</Section>
<Section>
  <div class="mx-auto max-w-167">
    <!-- <div class="flex justify-between items-center mb-8 fade-in-scroll">
      <button
        id="toggle-all-faqs"
        class="px-4 py-2 text-sm font-medium text-text border border-border rounded-lg hover:bg-card-hover transition-colors"
      >
        Expand All
      </button>
    </div> -->

    <div class="flex-1" id="faq-container">
      {
        faqs.map((group) => (
          <div class="mb-10 fade-in-scroll">
            <h4 class="text-[32px] font-medium text-center text-title-section leading-8 mb-4">
              {group.section}
            </h4>
            <FaqAccordion
              faqs={group.items.map((item) => ({
                question: item.q,
                answer: item.a,
              }))}
            />
          </div>
        ))
      }
    </div>
  </div>
</Section>

<script>
  const toggleButton = document.getElementById("toggle-all-faqs");
  const faqContainer = document.getElementById("faq-container");
  let allExpanded = false;

  toggleButton?.addEventListener("click", () => {
    const details = faqContainer?.querySelectorAll("details");

    if (details) {
      details.forEach((detail) => {
        detail.open = !allExpanded;
      });

      allExpanded = !allExpanded;
      toggleButton.textContent = allExpanded ? "Collapse All" : "Expand All";
    }
  });
</script>
