---
import HeaderBackgroundImage from "../../components/shared/header-background-image.astro";
import HomepageFrameworksCard from "../homepage/homepage-frameworks-card.astro";
import SectionSubtitle from "../../components/shared/section-subtitle.astro";
import SectionTitle from "../../components/shared/section-title.astro";
import { frameworksData } from "../homepage/config";
import Section from "../../components/shared/section.astro";
import SectionChip from "../../components/shared/section-chip.astro";
import PrimaryBtn from "../../components/buttons/PrimaryBtn.astro";
import Footer from "../../components/shared/footer.astro";
---

<section
  class="relative max-w-480 mx-auto flex flex-col items-center justify-center overflow-hidden min-h-220"
>
  <HeaderBackgroundImage
    class="absolute bottom-0 left-0 w-full h-full object-contain"
  />
  <div
    class="w-full max-w-480 relative mx-auto flex flex-col items-center gap-8 overflow-hidden"
  >
    <div class="z-30 flex flex-col space-y-4 items-center text-center mb-24">
      <SectionTitle class="max-sm:text-[32px] max-sm:leading-10"
        >Frameworks</SectionTitle
      >

      <SectionSubtitle class="max-w-xl">
        Support for SOC 2, NIST 800-53, NIST CSF, ISO 27001 or any framework you
        bring. Every standard is defined via JSON Schema, so onboarding new
        controls or rolling out updates takes days, not months.</SectionSubtitle
      >
    </div>
  </div>
  {
    frameworksData
      .filter((framework) => framework.showInFrameworksHero === true)
      .map((card) => (
        <div
          class={`hidden lg:block p-5 border border-dashed border-dashed-border absolute w-55 z-10 ${card.position} ${card.opacity}`}
        >
          <HomepageFrameworksCard data={card} />
        </div>
      ))
  }
</section>
<Section class="-mt-36 relative z-10 p-5 bg-white rounded-md">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    {
      frameworksData.map((framework) => (
        <div
          class={`flex flex-col gap-5 rounded-2xl bg-${framework.background} h-134 p-5
            shadow-[0px_1px_1px_0px_#09151D0A,0px_2px_2px_0px_#09151D08,0px_5px_3px_0px_#09151D05,0px_9px_4px_0px_#09151D03,0px_14px_4px_0px_#09151D00,0px_0px_0px_1px_#09151D14]`}
        >
          {framework.icon && (
            <img src={framework.icon} class="w-24 h-24 object-contain" alt="" />
          )}

          <div class="flex flex-wrap gap-1">
            {framework.tags.map((chip) => (
              <SectionChip class="whitespace-nowrap!">{chip}</SectionChip>
            ))}
          </div>

          <div class="font-outfit font-normal text-base text-left text-subtitle">
            {framework.description}
          </div>
          <div class="mt-auto">
            <a
              href={framework.href}
              class=" font-normal text-sm leading-6 flex items-center gap-1 pt-4 mt-2 w-full"
            >
              <div class="inline-block text-title-section! hover:underline! transition-colors duration-300">
                Learn More
              </div>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Section>
<Section showHeroDots>
  <div class="flex flex-col gap-5 mx-auto max-w-167">
    <SectionTitle>Looking for Another Framework?</SectionTitle>
    <SectionSubtitle
      >Need support for a different compliance framework for your next audit?
      We're constantly expanding our framework coverage. Contact us to discuss
      your specific needs and learn how we can help you achieve compliance with
      your required standards.</SectionSubtitle
    >
    <div>
      <SectionChip>Custom frameworks</SectionChip>
      <SectionChip>Compliance support</SectionChip>
      <SectionChip>Framework request</SectionChip>
    </div>
    <div>
      <PrimaryBtn class="p-2 inline-flex!" href="/company/contact" astroReload
        >Contact us</PrimaryBtn
      >
    </div>
  </div>
</Section>
<Section>
  <Footer />
</Section>
