---
type Info = {
  title: string;
  description: string;
  bullets?: string[];
  imageSrc: string;
};

interface Props {
  data: Info;
}

const { data } = Astro.props as Props;
---

{
  data && (
    <div class="rounded-xl shadow p-6 bg-white fade-in-scroll visible">
      <div class="rounded-xl shadow-[0_12px_20px_-12px_rgba(0,0,0,0.25)] mb-6 flex justify-center">
        <img src={data.imageSrc} alt={data.title} class="h-6 w-auto" />
      </div>

      <div class="flex flex-col gap-3">
        <div class="text-title-section text-[20px] font-medium tracking-[-0.6px] text-left">
          {data.title}
        </div>
        <div class="font-normal text-[16px] leading-5 text-subtitle text-left">
          {data.description}
        </div>

        {data.bullets && data.bullets.length > 0 && (
          <ul class="space-y-2 pl-5 list-disc marker:text-primary-button marker:w-2 marker:h-2">
            {data.bullets.map((item) => (
              <li class="text-subtitle text-[16px] font-normal leading-5 text-left">
                {item}
              </li>
            ))}
          </ul>
        )}
      </div>
    </div>
  )
}
