---
import {
  BadgeQuestionMark,
  ChevronRight,
  CircleCheckBig,
  Lightbulb,
  MailQuestionMark,
} from "@lucide/astro";
import LineShot from "../../components/assets/LineShot.astro";
const frameworks = [
  {
    image: "/assets/standards/SOC2.svg",
    name: "SOC 2",
    description:
      "The controls you design and implement in your environment will vary based on your company's people, technology, and products. Service organizations have a responsibility to protect their customers' data and products. Customers rely on organizations to provide a safe, secure, and reliable platform for conducting business.",
    tags: [
      "Security",
      "Availability",
      "Processing Integrity",
      "Confidentiality",
      "Privacy",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/ISO27001.svg",
    name: "ISO 27001",
    description:
      "International standard for information security management systems (ISMS). It provides a systematic approach to managing sensitive company information, ensuring its confidentiality, integrity, and availability. The standard outlines a risk-based approach to identifying, assessing, and treating information security risks.",
    tags: [
      "ISMS",
      "Risk Management",
      "Security Controls",
      "Asset Management",
      "Continuous Improvement",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/800-53.svg",
    name: "NIST 800-53",
    description:
      "A cybersecurity standard and compliance framework developed by the National Institute of Standards and Technology (NIST). It outlines security controls for federal information systems to protect the confidentiality, integrity, and availability of data. The framework mitigates risks through specific controls including access management, awareness training, and incident response procedures.",
    tags: [
      "Access Control",
      "System Security",
      "Configuration Management",
      "Incident Response",
      "Continuous Monitoring",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/CSF.svg",
    name: "NIST CSF",
    description:
      "The National Institute of Standards and Technology Cybersecurity Framework (NIST CSF) is a set of voluntary guidelines and best practices created by the U.S. government. It helps organizations manage and reduce their cybersecurity risks by providing a structured approach to identify, protect, detect, respond to, and recover from cyber threats. This framework serves to improve overall cybersecurity posture across different industries.",
    tags: ["Identify", "Protect", "Detect", "Respond", "Recover"],
    href: "#",
  },
  {
    image: "/assets/standards/800-171.svg",
    name: "NIST 800-171",
    description:
      "NIST SP 800-171 defines security requirements for protecting Controlled Unclassified Information (CUI) in non-federal systems and organizations. It establishes a framework to ensure confidentiality of sensitive government-related data handled by contractors and other non-federal entities.",
    tags: [
      "CUI",
      "Confidentiality",
      "Nonfederal Systems",
      "Access Control",
      "Audit & Accountability",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/GDPR.svg",
    name: "GDPR",
    description:
      "The General Data Protection Regulation (GDPR) is an EU regulation that sets strict requirements on the protection and privacy of personal data. It governs how organizations collect, process, and store personal information of EU and EEA residents, and regulates transfers of personal data outside these regions.",
    tags: [
      "Privacy",
      "Data Protection",
      "EU Regulation",
      "Consent",
      "Data Transfer",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/HIPAA.svg",
    name: "HIPAA",
    description:
      "The Health Insurance Portability and Accountability Act (HIPAA) establishes national standards to safeguard individuals’ medical records and personal health information. It applies to health plans, health care clearinghouses, and providers, ensuring confidentiality, integrity, and availability of protected health information (PHI).",
    tags: ["Healthcare", "PHI", "Privacy", "Security", "Compliance"],
    href: "#",
  },
  {
    image: "/assets/standards/PCI.svg",
    name: "PCI-DSS",
    description:
      "The Payment Card Industry Data Security Standard (PCI DSS) is a global set of security standards for organizations that accept, process, store, or transmit credit card information. It establishes technical and operational requirements to maintain a secure environment and protect cardholder data.",
    tags: [
      "Payment Security",
      "Cardholder Data",
      "Network Security",
      "Encryption",
      "Monitoring",
    ],
    href: "#",
  },
  {
    image: "/assets/standards/Custom.svg",
    name: "Custom",
    description:
      "Empower your team to define compliance on your own terms. With Openlane's Custom Framework feature, you can import any set of controls—whether it's an industry standard, a bespoke company policy, or an entirely new security model—and manage them alongside our built-in frameworks.",
    tags: ["Flexible Controls", "Framework Import", "Tailored Compliance"],
    href: "#",
  },
  {
    image: "/assets/standards/Custom.svg",
    name: "Looking for Another Framework?",
    description:
      "Need support for a different compliance framework for your next audit? We're constantly expanding our framework coverage. Contact us to discuss your specific needs and learn how we can help you achieve compliance with your required standards.",
    tags: ["Custom Frameworks", "Compliance Support", "Framework Request"],
    href: "/company/contact",
  },
];
---

<section
  class="pt-20 pb-20 bg-color-secondary rounded-t-[60px] border-t border-color box-shadow"
>
  <div class="mx-auto max-w-[1800px]">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-6 md:px-12 lg:px-24"
    >
      {
        frameworks.map(({ image, name, description, tags, href }) => (
          <div class="flex flex-col items-start gap-4 p-6 rounded-lg border border-color bg-color-card overflow-hidden fade-in-scroll">
            <div class="flex items-center">
              {name !== "Looking for Another Framework?" && (
                <div class="flex w-[75px] h-[75px] justify-center items-center aspect-square bg-card pr-4">
                  <img
                    src={image}
                    alt={description}
                    class="max-h-full max-w-full object-contain !rounded-none"
                  />
                </div>
              )}
              {name === "Looking for Another Framework?" && (
                <div class="flex w-[0px] h-[75px] justify-center items-center aspect-square bg-card" />
              )}
              <p class="text-lg font-medium">{name}</p>
            </div>

            <p class="font-normal leading-7 text-base">{description}</p>

            <div class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <p class="px-3 py-1 rounded-full border border-color text-xs bg-color-card">
                  {tag}
                </p>
              ))}
            </div>

            {name === "Looking for Another Framework?" && (
              <a
                href={href}
                class="!text-color-accent font-normal text-sm leading-6 flex items-center gap-1 border-t border-dashed border-color pt-4 mt-2 w-full"
              >
                <span class="inline-block text-color-accent hover:!text-accent hover:!underline transition-colors duration-300">
                  Contact Us
                </span>
                <ChevronRight class="text-color-accent w-[12px] h-[12px] hover:!text-accent-300 transition-colors duration-300" />
              </a>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
