---
import { CalendarFold, Mountain } from "@lucide/astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<section
  class="py-20 px-2 sm:px-6 bg-slate-50 rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-[1290px] mx-auto">
    {
      posts.map((post) => {
        const postUrl = `/blog/${post.id}`;
        return (
          <div class="overflow-hidden">
            <a href={postUrl}>
              <img
                src={post.data.heroImage}
                alt={post.data.title}
                width="408px"
                height="246px"
                class="w-full !w-[408px] !h-[246px] object-cover transition-transform hover:scale-[1.02] duration-200"
              />
            </a>

            <div class="mt-3 border-t-[3px] border-color">
              <div class="flex items-center text-sm space-x-4 mb-2 mt-2">
                <p class="flex items-center text-sm font-normal leading-6 space-x-1">
                  <Mountain size={14} />
                  <span>Blog</span>
                </p>
                <p class="flex items-center text-sm font-normal leading-6 space-x-1">
                  <CalendarFold size={14} />
                  <span>
                    {new Date(post.data.pubDate).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </span>
                </p>
              </div>

              <a href={postUrl}>
                <p class="text-3xl font-medium leading-9 tracking-[-0.75px] mb-2 hover:underline">
                  {post.data.title}
                </p>
              </a>
            </div>
          </div>
        );
      })
    }
  </div>
</section>
