---
import { CalendarFold, Mountain } from "@lucide/astro";
const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/posts`);
const posts = await res.json();
---

<section
  class="py-20 px-2 sm:px-6 bg-color-secondary rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-[1290px] mx-auto">
    {
      (posts || []).map((post) => {
        const postUrl = `/blog/${post.slug}`;
        return (
          <div key={post.id} class="overflow-hidden">
            <a href={postUrl}>
              <img
                src={`${import.meta.env.PUBLIC_API_URL}${post.heroImage.url}`}
                alt={post.title}
                width="408px"
                height="246px"
                class="w-full !w-[408px] !h-[246px] object-cover transition-transform hover:scale-[1.02] duration-200"
              />
            </a>

            <div class="mt-3 border-t-[3px] border-color">
              <div class="flex items-center text-sm space-x-4 mb-2 mt-2">
                <p class="flex items-center text-sm font-normal leading-6 space-x-1">
                  <Mountain size={14} />
                  <span>{post?.category?.title}</span>
                </p>
                <p class="flex items-center text-sm font-normal leading-6 space-x-1">
                  <CalendarFold size={14} />
                  <span>
                    {new Date(post.publishedAt).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </span>
                </p>
              </div>

              <a href={postUrl}>
                <p class="text-2xl font-normal leading-8 tracking-[-0.75px] mb-2 hover:underline">
                  {post.title}
                </p>
              </a>

              {post.authors.length > 0 && (
                <div class="flex items-center mt-4">
                  <img
                    src={
                      post.authors[0].name === "Matt Anderson"
                        ? "/team/matt.png"
                        : post.authors[0].name === "Kelsey Waters"
                          ? "/team/kelsey.png"
                          : post.authors[0].name === "Sarah Funkhouser"
                            ? "/team/sarah.png"
                            : "/team/kelsey.png"
                    }
                    alt={post.authors[0].name}
                    class="w-10 h-10 rounded-full mr-3"
                  />
                  <p class="text-sm">{post.authors[0].name}</p>
                </div>
              )}
            </div>
          </div>
        );
      })
    }
  </div>
</section>
