---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  ogImage?: string;
  canonicalUrl?: string;
  schema?: object;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  keywords,
  ogImage,
  canonicalUrl,
  schema,
} = Astro.props;
const siteKey = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={ogImage}
      canonicalUrl={canonicalUrl}
    />

    {
      schema && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(schema, null, 2)}
          is:inline
        />
      )
    }

    {
      siteKey && (
        <script
          src={`https://www.google.com/recaptcha/api.js?render=${siteKey}`}
          is:inline
        />
      )
    }

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-17756532539"></script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-17756532539");
    </script>
  </head>
  <body class="font-outfit">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <slot name="scripts" />
    <script>
      import mediumZoom from "medium-zoom";
      import "medium-zoom/dist/style.css";
      document.addEventListener("astro:page-load", () => {
        const zoom = mediumZoom({
          background: "rgba(0,0,0,0.8)",
          margin: 24,
        });
        zoom.attach(".zoom-img");
      });
    </script>
    <script>
      function initFadeInScroll() {
        const items = document.querySelectorAll(".fade-in-scroll");
        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) entry.target.classList.add("visible");
          });
        });
        items.forEach((i) => observer.observe(i));
      }

      document.addEventListener("DOMContentLoaded", initFadeInScroll);
      document.addEventListener("astro:page-load", initFadeInScroll);
    </script>
  </body>
</html>
