---
import FormattedDate from "../components/FormattedDate.astro";
import RichText from "../components/rich-text/RichText.tsx";
import Navigation from "../components/Navigation.astro";
import { CalendarFold, Mountain } from "@lucide/astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description?: string | null;
  publishedAt: string;
  heroImage: { url: string };
  authors?: any[];
  category?: {
    title: string;
    slug: string;
  };
}

const {
  title,
  description,
  content,
  publishedAt,
  heroImage,
  authors,
  category,
  categories,
} = Astro.props;
---

<BaseLayout>
  <Navigation parentNav="News & Industry Insights" childNav={title} />
  <section class="py-16 px-6 md:px-12 lg:px-24">
    <div class="max-w-[1230px] mx-auto flex flex-col gap-6">
      <p
        class="text-5xl md:text-6xl font-normal tracking-[-1.5px] text-gradient !pb-0"
      >
        {title}
      </p>
      <div class="flex items-center text-sm space-x-4 mb-2">
        <p class="flex items-center text-sm font-normal leading-6 space-x-1">
          <CalendarFold size={14} />
          <span>
            {
              new Date(publishedAt).toLocaleDateString("en-US", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })
            }
          </span>
        </p>
        <p class="flex items-center text-sm font-normal leading-6 space-x-1">
          <Mountain size={14} />
          {
            categories.map((item, index) => (
              <span key={item?.id || index}>
                {item?.title} {index < categories.length - 1 && ","}
              </span>
            ))
          }
        </p>
      </div>
      <div>
        <RichText client:load data={content} enableGutter={false} />
      </div>
    </div>
  </section>
</BaseLayout>
